@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Century Gothic", Fatura, sans-serif;
  margin: 0;
  background-color: "#e3e3e3";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}